<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
    <item label="File Manager" icon="/home/nka700/.config/obmenu-generator/icons/4b654ae65f3cf4dbe0ce2001e611e821.png"><action name="Execute"><command><![CDATA[xdg-open .]]></command></action></item>
    <item label="Terminal" icon="/home/nka700/.config/obmenu-generator/icons/9d6a04e0d80540003fa91a52f792a98a.png"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
    <item label="Web Browser" icon="/home/nka700/.config/obmenu-generator/icons/62481bb471d891d453454bfaeb51e77e.png"><action name="Execute"><command><![CDATA[xdg-open http://]]></command></action></item>
    <item label="Run command" icon="/home/nka700/.config/obmenu-generator/icons/6f8d1d92f77266b265b21b3e0339f85b.png"><action name="Execute"><command><![CDATA[gmrun]]></command></action></item>
  <separator label="Categories"/>
  <menu id="0.284368444074975" icon="/home/nka700/.config/obmenu-generator/icons/8fd270edb06dd07255827bf7e0547932.png" label="Accessories">
    <item label="About Xfce" icon="/home/nka700/.config/obmenu-generator/icons/b2b48bbb1ba06939dc5781808db6f92b.png"><action name="Execute"><command><![CDATA[xfce4-about]]></command></action></item>
    <item label="Adie" icon="/home/nka700/.config/obmenu-generator/icons/b87c3e98c59db769b49e5ce52fd879d9.png"><action name="Execute"><command><![CDATA[adie]]></command></action></item>
    <item label="Bulk Rename" icon="/home/nka700/.config/obmenu-generator/icons/a0f02b792856867d831ca131e795d608.png"><action name="Execute"><command><![CDATA[thunar --bulk-rename]]></command></action></item>
    <item label="ClamTk" icon="/home/nka700/.config/obmenu-generator/icons/06796ebc54e335e6218f99dce9b9176f.png"><action name="Execute"><command><![CDATA[clamtk]]></command></action></item>
    <item label="Compositing Editor" icon="/home/nka700/.config/obmenu-generator/icons/c35986284bac6420055bf9b7f46e8fad.png"><action name="Execute"><command><![CDATA[/usr/bin/paranoid.py]]></command></action></item>
    <item label="compton" icon="/home/nka700/.config/obmenu-generator/icons/de3feefd7e8b651c2f4b5e1428f3a7c8.png"><action name="Execute"><command><![CDATA[compton]]></command></action></item>
    <item label="CopyQ" icon="/home/nka700/.config/obmenu-generator/icons/f82fab2066a3c77ba20c7f0b46a08b95.png"><action name="Execute"><command><![CDATA[copyq --start-server show]]></command></action></item>
    <item label="Fcitx 5" icon="/home/nka700/.config/obmenu-generator/icons/a8ddaebde65d2c7c3a8de30f1ebce564.png"><action name="Execute"><command><![CDATA[/usr/bin/fcitx5]]></command></action></item>
    <item label="File Manager" icon="/home/nka700/.config/obmenu-generator/icons/4b654ae65f3cf4dbe0ce2001e611e821.png"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
    <item label="FOX Calculator" icon="/home/nka700/.config/obmenu-generator/icons/1b6efe655ae837f15176a2925574d578.png"><action name="Execute"><command><![CDATA[calculator]]></command></action></item>
    <item label="GVim" icon="/home/nka700/.config/obmenu-generator/icons/50a48bcdd85de36d844793378fc89578.png"><action name="Execute"><command><![CDATA[gvim -f]]></command></action></item>
    <item label="ipython" icon="/home/nka700/.config/obmenu-generator/icons/5197196b91161d957bab781365438dae.png"><action name="Execute"><command><![CDATA[xterm -e 'ipython']]></command></action></item>
    <item label="Keyboard layout viewer" icon="/home/nka700/.config/obmenu-generator/icons/000e0efac6f3db3050742134fc715b40.png"><action name="Execute"><command><![CDATA[kbd-layout-viewer5]]></command></action></item>
    <item label="LightDM GTK+ Greeter settings" icon="/home/nka700/.config/obmenu-generator/icons/0aa1d97cac0012a7f98ea43a03753f3d.png"><action name="Execute"><command><![CDATA[lightdm-gtk-greeter-settings-pkexec]]></command></action></item>
    <item label="nitrogen" icon="/home/nka700/.config/obmenu-generator/icons/ebb365e7e82b40b522b771e14f7ed240.png"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <item label="picom"><action name="Execute"><command><![CDATA[picom]]></command></action></item>
    <item label="Redshift" icon="/home/nka700/.config/obmenu-generator/icons/3ad2927112096bf7fba3432d244e77a5.png"><action name="Execute"><command><![CDATA[redshift-gtk]]></command></action></item>
    <item label="Screenshot" icon="/home/nka700/.config/obmenu-generator/icons/9f26f5901fe411d034de9b8a555b877e.png"><action name="Execute"><command><![CDATA[xfce4-screenshooter]]></command></action></item>
    <item label="Software Token (small)" icon="/home/nka700/.config/obmenu-generator/icons/36c5deb5a6cc0a6e4530da63fd6db1d8.png"><action name="Execute"><command><![CDATA[stoken-gui --small]]></command></action></item>
    <item label="Software Token" icon="/home/nka700/.config/obmenu-generator/icons/36c5deb5a6cc0a6e4530da63fd6db1d8.png"><action name="Execute"><command><![CDATA[stoken-gui]]></command></action></item>
    <item label="Task Manager" icon="/home/nka700/.config/obmenu-generator/icons/bea563159f42312cb09aa2d2d8b3af73.png"><action name="Execute"><command><![CDATA[xfce4-taskmanager]]></command></action></item>
    <item label="Terminal Emulator" icon="/home/nka700/.config/obmenu-generator/icons/9d6a04e0d80540003fa91a52f792a98a.png"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="Terminator" icon="/home/nka700/.config/obmenu-generator/icons/151b11920f9eef258c2d31d3224389fb.png"><action name="Execute"><command><![CDATA[terminator]]></command></action></item>
    <item label="Thunar File Manager" icon="/home/nka700/.config/obmenu-generator/icons/a0f02b792856867d831ca131e795d608.png"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Vifm" icon="/home/nka700/.config/obmenu-generator/icons/c284f1149a842d68077d9c76cb34beac.png"><action name="Execute"><command><![CDATA[xterm -e 'vifm']]></command></action></item>
    <item label="Vim" icon="/home/nka700/.config/obmenu-generator/icons/50a48bcdd85de36d844793378fc89578.png"><action name="Execute"><command><![CDATA[xterm -e 'vim']]></command></action></item>
    <item label="Xfi" icon="/home/nka700/.config/obmenu-generator/icons/926decedbdbdc63095e61086b9df8a38.png"><action name="Execute"><command><![CDATA[xfi]]></command></action></item>
    <item label="Xfp" icon="/home/nka700/.config/obmenu-generator/icons/b9c28e3d57b14485f363867d984f1a22.png"><action name="Execute"><command><![CDATA[xfp]]></command></action></item>
    <item label="Xfw" icon="/home/nka700/.config/obmenu-generator/icons/1d82efdc41448074d04d0cae3764f6c8.png"><action name="Execute"><command><![CDATA[xfw]]></command></action></item>
  </menu>
  <menu id="0.377276180402504" icon="/home/nka700/.config/obmenu-generator/icons/7c61f5d073622c09db751a731d8a1579.png" label="Development">
    <item label="CMake" icon="/home/nka700/.config/obmenu-generator/icons/15453da1877fd380fc1e6d0250c31a0c.png"><action name="Execute"><command><![CDATA[cmake-gui]]></command></action></item>
    <item label="Electron 10" icon="/home/nka700/.config/obmenu-generator/icons/321332a3098745618b46377bd6c4e8c7.png"><action name="Execute"><command><![CDATA[electron10]]></command></action></item>
    <item label="Electron 11" icon="/home/nka700/.config/obmenu-generator/icons/321332a3098745618b46377bd6c4e8c7.png"><action name="Execute"><command><![CDATA[electron11]]></command></action></item>
    <item label="Electron" icon="/home/nka700/.config/obmenu-generator/icons/c60e3d4ef42c022cf4fe0f3fd96021fc.png"><action name="Execute"><command><![CDATA[electron]]></command></action></item>
    <item label="ipython" icon="/home/nka700/.config/obmenu-generator/icons/5197196b91161d957bab781365438dae.png"><action name="Execute"><command><![CDATA[xterm -e 'ipython']]></command></action></item>
    <item label="Jupyter Notebook" icon="/home/nka700/.config/obmenu-generator/icons/f8678269d8d7c45a555b1e6cfeda648c.png"><action name="Execute"><command><![CDATA[xterm -e 'jupyter-notebook']]></command></action></item>
    <item label="Qt Assistant" icon="/home/nka700/.config/obmenu-generator/icons/f8a65997bef309509f67a4ce8f86213f.png"><action name="Execute"><command><![CDATA[assistant]]></command></action></item>
    <item label="Qt Designer" icon="/home/nka700/.config/obmenu-generator/icons/c4403a74c3da71ae572ce72e317b846d.png"><action name="Execute"><command><![CDATA[designer]]></command></action></item>
    <item label="Qt Linguist" icon="/home/nka700/.config/obmenu-generator/icons/1b739fd4d7f4788722ec9926ef199ef5.png"><action name="Execute"><command><![CDATA[linguist]]></command></action></item>
    <item label="Qt QDBusViewer" icon="/home/nka700/.config/obmenu-generator/icons/765cfcc0e8d24d902204151063ae2757.png"><action name="Execute"><command><![CDATA[qdbusviewer]]></command></action></item>
  </menu>
  <menu id="0.0218909234191749" icon="/home/nka700/.config/obmenu-generator/icons/578682d0f1a26bde893c733a6d60a586.png" label="Education">
    <item label="Jupyter Notebook" icon="/home/nka700/.config/obmenu-generator/icons/f8678269d8d7c45a555b1e6cfeda648c.png"><action name="Execute"><command><![CDATA[xterm -e 'jupyter-notebook']]></command></action></item>
  </menu>
  <menu id="0.668899413521054" icon="/home/nka700/.config/obmenu-generator/icons/e68b22d59535f53061a7b91c49395082.png" label="Games">
    <item label="Steam (Runtime)" icon="/home/nka700/.config/obmenu-generator/icons/a730f8a32094d525f653d953ea747b53.png"><action name="Execute"><command><![CDATA[/usr/bin/steam-runtime]]></command></action></item>
  </menu>
  <menu id="0.0710154633389557" icon="/home/nka700/.config/obmenu-generator/icons/bb36e8efd9bb38da01a24ca1929df839.png" label="Graphics">
    <item label="Document Viewer" icon="/home/nka700/.config/obmenu-generator/icons/7eeda6df809d414e6ef68b23d79d7df3.png"><action name="Execute"><command><![CDATA[evince]]></command></action></item>
    <item label="GNU Image Manipulation Program" icon="/home/nka700/.config/obmenu-generator/icons/0732ad946385be3eb517ba9765237a7b.png"><action name="Execute"><command><![CDATA[gimp-2.10]]></command></action></item>
    <item label="Ristretto Image Viewer" icon="/home/nka700/.config/obmenu-generator/icons/be3d3cdb16fc29bc37f5e2d6c4b99432.png"><action name="Execute"><command><![CDATA[ristretto]]></command></action></item>
  </menu>
  <menu id="0.713003921540789" icon="/home/nka700/.config/obmenu-generator/icons/d0dd1554a1b8939ab0017b95d5804341.png" label="Multimedia">
    <item label="GTK Youtube Viewer" icon="/home/nka700/.config/obmenu-generator/icons/9c2ec2abdd191be1b4c2669929555210.png"><action name="Execute"><command><![CDATA[gtk-youtube-viewer]]></command></action></item>
    <item label="mpv Media Player" icon="/home/nka700/.config/obmenu-generator/icons/2d4b33b5b0122cb169a1d4c700357598.png"><action name="Execute"><command><![CDATA[mpv --player-operation-mode=pseudo-gui --]]></command></action></item>
    <item label="PulseAudio Volume Control" icon="/home/nka700/.config/obmenu-generator/icons/d0dd1554a1b8939ab0017b95d5804341.png"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="Qt V4L2 test Utility" icon="/home/nka700/.config/obmenu-generator/icons/8ba83710761a1ed02a68c4fb4ab98970.png"><action name="Execute"><command><![CDATA[qv4l2]]></command></action></item>
    <item label="Qt V4L2 video capture utility" icon="/home/nka700/.config/obmenu-generator/icons/04c4ff88e9fb1c1a6a1cb75a453d0dcc.png"><action name="Execute"><command><![CDATA[qvidcap]]></command></action></item>
    <item label="VLC media player" icon="/home/nka700/.config/obmenu-generator/icons/58933efe607bc6c6b5bf8dac6fdff447.png"><action name="Execute"><command><![CDATA[/usr/bin/vlc --started-from-file]]></command></action></item>
    <item label="Volume Icon" icon="/home/nka700/.config/obmenu-generator/icons/d0dd1554a1b8939ab0017b95d5804341.png"><action name="Execute"><command><![CDATA[volumeicon]]></command></action></item>
    <item label="YouTube Music" icon="/home/nka700/.config/obmenu-generator/icons/94f0543251587e4471e7ce089e16ad37.png"><action name="Execute"><command><![CDATA[ytmdesktop]]></command></action></item>
  </menu>
  <menu id="0.095202874063343" icon="/home/nka700/.config/obmenu-generator/icons/f0450d8d9e6f5a24c2566b39dcb59114.png" label="Network">
    <item label="Avahi SSH Server Browser" icon="/home/nka700/.config/obmenu-generator/icons/525a09cf1a417c0c9eccfcade67bdb5a.png"><action name="Execute"><command><![CDATA[/usr/bin/bssh]]></command></action></item>
    <item label="Avahi VNC Server Browser" icon="/home/nka700/.config/obmenu-generator/icons/525a09cf1a417c0c9eccfcade67bdb5a.png"><action name="Execute"><command><![CDATA[/usr/bin/bvnc]]></command></action></item>
    <item label="aws" icon="/home/nka700/.config/obmenu-generator/icons/57a700a9a760eaa5eb5f624c2948e74a.png"><action name="Execute"><command><![CDATA[firefox --class ICE-SSB-aws --profile /home/nka700/.local/share/ice/firefox/aws --no-remote https://ap-northeast-1.console.aws.amazon.com/console/home]]></command></action></item>
    <item label="Cawbird" icon="/home/nka700/.config/obmenu-generator/icons/64874d4bc54ae6a5a2d9a8d2dc735eeb.png"><action name="Execute"><command><![CDATA[cawbird]]></command></action></item>
    <item label="Chromium" icon="/home/nka700/.config/obmenu-generator/icons/56bf54dc39f8d4c08862341068719c61.png"><action name="Execute"><command><![CDATA[/usr/bin/chromium]]></command></action></item>
    <item label="drawio" icon="/home/nka700/.config/obmenu-generator/icons/8e5d591c7419ab81db7a647669d7e446.png"><action name="Execute"><command><![CDATA[firefox --class ICE-SSB-drawio --profile /home/nka700/.local/share/ice/firefox/drawio --no-remote https://app.diagrams.net/]]></command></action></item>
    <item label="Firefox" icon="/home/nka700/.config/obmenu-generator/icons/d8c35cf4d36eba44c45a7693aaaaf2a7.png"><action name="Execute"><command><![CDATA[/usr/lib/firefox/firefox]]></command></action></item>
    <item label="Google Chrome" icon="/home/nka700/.config/obmenu-generator/icons/705c34c20b79ea87f1260b53e0d5a158.png"><action name="Execute"><command><![CDATA[/usr/bin/google-chrome-stable]]></command></action></item>
    <item label="Ice" icon="/home/nka700/.config/obmenu-generator/icons/88515638be05528067f8e0a3a5be6350.png"><action name="Execute"><command><![CDATA[ice]]></command></action></item>
    <item label="KDE Connect Indicator" icon="/home/nka700/.config/obmenu-generator/icons/be8242f31c77620b7182844ba90ad0f1.png"><action name="Execute"><command><![CDATA[kdeconnect-indicator]]></command></action></item>
    <item label="KDE Connect SMS" icon="/home/nka700/.config/obmenu-generator/icons/be8242f31c77620b7182844ba90ad0f1.png"><action name="Execute"><command><![CDATA[kdeconnect-sms]]></command></action></item>
    <item label="KDE Connect" icon="/home/nka700/.config/obmenu-generator/icons/be8242f31c77620b7182844ba90ad0f1.png"><action name="Execute"><command><![CDATA[kdeconnect-app]]></command></action></item>
    <item label="lftp" icon="/home/nka700/.config/obmenu-generator/icons/7895f3ad99a63475a827f8f89f241ec7.png"><action name="Execute"><command><![CDATA[xterm -e 'lftp']]></command></action></item>
    <item label="Mail Reader" icon="/home/nka700/.config/obmenu-generator/icons/2dc96d50149bcc8e2fa50e39962a2a92.png"><action name="Execute"><command><![CDATA[exo-open --launch MailReader]]></command></action></item>
    <item label="onedrive" icon="/home/nka700/.config/obmenu-generator/icons/fb843d2e1069a2bbd81e9d3b2ee61335.png"><action name="Execute"><command><![CDATA[firefox --class ICE-SSB-onedrive --profile /home/nka700/.local/share/ice/firefox/onedrive --no-remote https://onedrive.live.com/]]></command></action></item>
    <item label="Open on connected device via KDE Connect" icon="/home/nka700/.config/obmenu-generator/icons/be8242f31c77620b7182844ba90ad0f1.png"><action name="Execute"><command><![CDATA[kdeconnect-handler --open]]></command></action></item>
    <item label="qBittorrent" icon="/home/nka700/.config/obmenu-generator/icons/3d3c9646b925f5e8d1c8098eacdd231f.png"><action name="Execute"><command><![CDATA[qbittorrent]]></command></action></item>
    <item label="Remmina" icon="/home/nka700/.config/obmenu-generator/icons/dc5d25b92117e4822f2d0665027bd393.png"><action name="Execute"><command><![CDATA[remmina-file-wrapper]]></command></action></item>
    <item label="selfbuild" icon="/home/nka700/.config/obmenu-generator/icons/ce88c772c06eb677ae273fd00db318fd.png"><action name="Execute"><command><![CDATA[firefox --class ICE-SSB-selfbuild --profile /home/nka700/.local/share/ice/firefox/selfbuild --no-remote https://github.com/Nka700/selfbuild]]></command></action></item>
    <item label="Steam (Runtime)" icon="/home/nka700/.config/obmenu-generator/icons/a730f8a32094d525f653d953ea747b53.png"><action name="Execute"><command><![CDATA[/usr/bin/steam-runtime]]></command></action></item>
    <item label="udemy" icon="/home/nka700/.config/obmenu-generator/icons/0df1be4e5a69e2acfcb8db564abd8f69.png"><action name="Execute"><command><![CDATA[firefox --class ICE-SSB-udemy --profile /home/nka700/.local/share/ice/firefox/udemy --no-remote https://www.udemy.com/course/aws-associate/learn/lecture/13438778]]></command></action></item>
    <item label="Web Browser" icon="/home/nka700/.config/obmenu-generator/icons/62481bb471d891d453454bfaeb51e77e.png"><action name="Execute"><command><![CDATA[exo-open --launch WebBrowser]]></command></action></item>
    <item label="Wireshark" icon="/home/nka700/.config/obmenu-generator/icons/77257deb4af79cc75a147f5eea750a37.png"><action name="Execute"><command><![CDATA[wireshark]]></command></action></item>
    <item label="youtube" icon="/home/nka700/.config/obmenu-generator/icons/85811549151df25c25887d8dbc7eaa70.png"><action name="Execute"><command><![CDATA[firefox --class ICE-SSB-youtube --profile /home/nka700/.local/share/ice/firefox/youtube --no-remote https://www.youtube.com/]]></command></action></item>
    <item label="youtubemusic" icon="/home/nka700/.config/obmenu-generator/icons/f5cce7741489e0c59d7ee4f6cc9553cb.png"><action name="Execute"><command><![CDATA[firefox --class ICE-SSB-youtubemusic --profile /home/nka700/.local/share/ice/firefox/youtubemusic --no-remote https://music.youtube.com/]]></command></action></item>
    <item label="Zoom" icon="/home/nka700/.config/obmenu-generator/icons/2231f5865587aeefd2f6bd5ff4a0cd32.png"><action name="Execute"><command><![CDATA[/usr/bin/zoom]]></command></action></item>
  </menu>
  <menu id="0.129446274641928" icon="/home/nka700/.config/obmenu-generator/icons/2be245bf86b8eb871e7481ddb832f194.png" label="Office">
    <item label="Document Viewer" icon="/home/nka700/.config/obmenu-generator/icons/7eeda6df809d414e6ef68b23d79d7df3.png"><action name="Execute"><command><![CDATA[evince]]></command></action></item>
  </menu>
  <menu id="0.509820269644852" icon="/home/nka700/.config/obmenu-generator/icons/90ddc3837d5bc547d35e757aca402ff4.png" label="Settings">
    <item label="Accessibility" icon="/home/nka700/.config/obmenu-generator/icons/497733a2bf797be5563f135e0ba530f9.png"><action name="Execute"><command><![CDATA[xfce4-accessibility-settings]]></command></action></item>
    <item label="Advanced Network Configuration" icon="/home/nka700/.config/obmenu-generator/icons/06dfe13eb54a913e5f66b87fd8009348.png"><action name="Execute"><command><![CDATA[nm-connection-editor]]></command></action></item>
    <item label="Appearance" icon="/home/nka700/.config/obmenu-generator/icons/61224bedce9373977fdfc09481874b28.png"><action name="Execute"><command><![CDATA[xfce4-appearance-settings]]></command></action></item>
    <item label="ARandR" icon="/home/nka700/.config/obmenu-generator/icons/49b11caf1da88359e823c2bbdd878d77.png"><action name="Execute"><command><![CDATA[arandr]]></command></action></item>
    <item label="Bluetooth Adapters" icon="/home/nka700/.config/obmenu-generator/icons/6916c768b572217fffe15b3130afe810.png"><action name="Execute"><command><![CDATA[blueman-adapters]]></command></action></item>
    <item label="Bluetooth Manager" icon="/home/nka700/.config/obmenu-generator/icons/95594c07b974a5fd6854f08f4042bc87.png"><action name="Execute"><command><![CDATA[blueman-manager]]></command></action></item>
    <item label="Color Profiles" icon="/home/nka700/.config/obmenu-generator/icons/97adedbe257ceeeae114b9e90fc2f1fe.png"><action name="Execute"><command><![CDATA[xfce4-color-settings]]></command></action></item>
    <item label="Default Applications" icon="/home/nka700/.config/obmenu-generator/icons/d0ca2ce4a724ece3c33a2e0235cdea57.png"><action name="Execute"><command><![CDATA[xfce4-mime-settings]]></command></action></item>
    <item label="Display" icon="/home/nka700/.config/obmenu-generator/icons/b816884435245c79cb3380542c917551.png"><action name="Execute"><command><![CDATA[xfce4-display-settings]]></command></action></item>
    <item label="Fcitx 5 Configuration" icon="/home/nka700/.config/obmenu-generator/icons/a8ddaebde65d2c7c3a8de30f1ebce564.png"><action name="Execute"><command><![CDATA[/usr/bin/fcitx5-configtool]]></command></action></item>
    <item label="Fcitx 5 Migration Wizard" icon="/home/nka700/.config/obmenu-generator/icons/a8ddaebde65d2c7c3a8de30f1ebce564.png"><action name="Execute"><command><![CDATA[fcitx5-migrator]]></command></action></item>
    <item label="File Manager Settings" icon="/home/nka700/.config/obmenu-generator/icons/a0f02b792856867d831ca131e795d608.png"><action name="Execute"><command><![CDATA[thunar-settings]]></command></action></item>
    <item label="FOX Desktop Setup" icon="/home/nka700/.config/obmenu-generator/icons/3aa1e116f039c8a5c671b0e1a35ec9df.png"><action name="Execute"><command><![CDATA[ControlPanel]]></command></action></item>
    <item label="IBus Preferences" icon="/home/nka700/.config/obmenu-generator/icons/009b6ff21a135ea2cc9cc33ec52d830b.png"><action name="Execute"><command><![CDATA[ibus-setup]]></command></action></item>
    <item label="KDE Connect Settings" icon="/home/nka700/.config/obmenu-generator/icons/be8242f31c77620b7182844ba90ad0f1.png"><action name="Execute"><command><![CDATA[kdeconnect-settings]]></command></action></item>
    <item label="Keyboard" icon="/home/nka700/.config/obmenu-generator/icons/000e0efac6f3db3050742134fc715b40.png"><action name="Execute"><command><![CDATA[xfce4-keyboard-settings]]></command></action></item>
    <item label="Kickshaw" icon="/home/nka700/.config/obmenu-generator/icons/cbd33e85d4e0834359519a4e282b2aeb.png"><action name="Execute"><command><![CDATA[/usr/bin/kickshaw]]></command></action></item>
    <item label="LightDM GTK+ Greeter settings" icon="/home/nka700/.config/obmenu-generator/icons/0aa1d97cac0012a7f98ea43a03753f3d.png"><action name="Execute"><command><![CDATA[lightdm-gtk-greeter-settings-pkexec]]></command></action></item>
    <item label="Mouse and Touchpad" icon="/home/nka700/.config/obmenu-generator/icons/0a9a9b7e667a5d6f957e7a122687866b.png"><action name="Execute"><command><![CDATA[xfce4-mouse-settings]]></command></action></item>
    <item label="Notifications" icon="/home/nka700/.config/obmenu-generator/icons/6674531492c0fd6e67adf107db28d707.png"><action name="Execute"><command><![CDATA[xfce4-notifyd-config]]></command></action></item>
    <item label="Openbox Configuration Manager" icon="/home/nka700/.config/obmenu-generator/icons/f2ba6e0eeb3cf2a8392156a94468b9f6.png"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Openbox Key bindings" icon="/home/nka700/.config/obmenu-generator/icons/f2ba6e0eeb3cf2a8392156a94468b9f6.png"><action name="Execute"><command><![CDATA[obkey]]></command></action></item>
    <item label="Panel" icon="/home/nka700/.config/obmenu-generator/icons/837af56821166d41fb3d231e55b83c7c.png"><action name="Execute"><command><![CDATA[xfce4-panel --preferences]]></command></action></item>
    <item label="Power Manager" icon="/home/nka700/.config/obmenu-generator/icons/7c0cfc7ae187d0b04a44990cc86dd158.png"><action name="Execute"><command><![CDATA[xfce4-power-manager-settings]]></command></action></item>
    <item label="PulseAudio Volume Control" icon="/home/nka700/.config/obmenu-generator/icons/d0dd1554a1b8939ab0017b95d5804341.png"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="Settings Editor" icon="/home/nka700/.config/obmenu-generator/icons/42ee1883cb2391c1725941b57ae6ce60.png"><action name="Execute"><command><![CDATA[xfce4-settings-editor]]></command></action></item>
    <item label="Settings Manager" icon="/home/nka700/.config/obmenu-generator/icons/b8b3485a1d55fbb3848354388436be47.png"><action name="Execute"><command><![CDATA[xfce4-settings-manager]]></command></action></item>
    <item label="Tint2 Settings" icon="/home/nka700/.config/obmenu-generator/icons/53f8fd7baca975dd957336eadd962a33.png"><action name="Execute"><command><![CDATA[tint2conf]]></command></action></item>
  </menu>
  <menu id="0.0339678375173662" icon="/home/nka700/.config/obmenu-generator/icons/a610532eae9147a9b50c1ef3a67f515c.png" label="System">
    <item label="Alacritty" icon="/home/nka700/.config/obmenu-generator/icons/434eb0ec20391725705572050e918420.png"><action name="Execute"><command><![CDATA[alacritty]]></command></action></item>
    <item label="Avahi Zeroconf Browser" icon="/home/nka700/.config/obmenu-generator/icons/525a09cf1a417c0c9eccfcade67bdb5a.png"><action name="Execute"><command><![CDATA[/usr/bin/avahi-discover]]></command></action></item>
    <item label="Bulk Rename" icon="/home/nka700/.config/obmenu-generator/icons/a0f02b792856867d831ca131e795d608.png"><action name="Execute"><command><![CDATA[thunar --bulk-rename]]></command></action></item>
    <item label="conky" icon="/home/nka700/.config/obmenu-generator/icons/5704d2568bff4b5f497a8ad8eb4c2e52.png"><action name="Execute"><command><![CDATA[conky --daemonize --pause=1]]></command></action></item>
    <item label="Fcitx 5" icon="/home/nka700/.config/obmenu-generator/icons/a8ddaebde65d2c7c3a8de30f1ebce564.png"><action name="Execute"><command><![CDATA[/usr/bin/fcitx5]]></command></action></item>
    <item label="Hardware Locality lstopo" icon="/home/nka700/.config/obmenu-generator/icons/3aa1e116f039c8a5c671b0e1a35ec9df.png"><action name="Execute"><command><![CDATA[lstopo]]></command></action></item>
    <item label="Htop" icon="/home/nka700/.config/obmenu-generator/icons/41039dbf2c54f509e92ada49ca03f28c.png"><action name="Execute"><command><![CDATA[xterm -e 'htop']]></command></action></item>
    <item label="jgmenu" icon="/home/nka700/.config/obmenu-generator/icons/c7f80f372cfb3880c0c47ec20c1458a7.png"><action name="Execute"><command><![CDATA[jgmenu_run]]></command></action></item>
    <item label="kitty" icon="/home/nka700/.config/obmenu-generator/icons/fea145358bd59b0b86ac77fe6a889a42.png"><action name="Execute"><command><![CDATA[kitty]]></command></action></item>
    <item label="LightDM GTK+ Greeter settings" icon="/home/nka700/.config/obmenu-generator/icons/0aa1d97cac0012a7f98ea43a03753f3d.png"><action name="Execute"><command><![CDATA[lightdm-gtk-greeter-settings-pkexec]]></command></action></item>
    <item label="LSHW" icon="/home/nka700/.config/obmenu-generator/icons/06d0221647c695cabec14a5cac3f28ff.png"><action name="Execute"><command><![CDATA[/usr/sbin/gtk-lshw]]></command></action></item>
    <item label="Oracle VM VirtualBox" icon="/home/nka700/.config/obmenu-generator/icons/34b5399833fec9842d0f22e76bf35640.png"><action name="Execute"><command><![CDATA[VirtualBox]]></command></action></item>
    <item label="PathFinder" icon="/home/nka700/.config/obmenu-generator/icons/f48564f420d4774b37c7cf8bcebb2149.png"><action name="Execute"><command><![CDATA[PathFinder]]></command></action></item>
    <item label="Task Manager" icon="/home/nka700/.config/obmenu-generator/icons/bea563159f42312cb09aa2d2d8b3af73.png"><action name="Execute"><command><![CDATA[xfce4-taskmanager]]></command></action></item>
    <item label="Terminator" icon="/home/nka700/.config/obmenu-generator/icons/151b11920f9eef258c2d31d3224389fb.png"><action name="Execute"><command><![CDATA[terminator]]></command></action></item>
    <item label="Termite" icon="/home/nka700/.config/obmenu-generator/icons/9d6a04e0d80540003fa91a52f792a98a.png"><action name="Execute"><command><![CDATA[termite]]></command></action></item>
    <item label="Thunar File Manager" icon="/home/nka700/.config/obmenu-generator/icons/a0f02b792856867d831ca131e795d608.png"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Tint2" icon="/home/nka700/.config/obmenu-generator/icons/c13fc627ff023a7a18eaa23897f9a059.png"><action name="Execute"><command><![CDATA[tint2]]></command></action></item>
    <item label="UXTerm" icon="/home/nka700/.config/obmenu-generator/icons/84174b2c80bf3542bac9693aa6795463.png"><action name="Execute"><command><![CDATA[uxterm]]></command></action></item>
    <item label="Vifm" icon="/home/nka700/.config/obmenu-generator/icons/c284f1149a842d68077d9c76cb34beac.png"><action name="Execute"><command><![CDATA[xterm -e 'vifm']]></command></action></item>
    <item label="Virtual Machine Manager" icon="/home/nka700/.config/obmenu-generator/icons/495059aa8534bd84a2fb063b6cfe97fe.png"><action name="Execute"><command><![CDATA[virt-manager]]></command></action></item>
    <item label="Xfe" icon="/home/nka700/.config/obmenu-generator/icons/60a022efefa678f1bbaa72a6c7af6ac6.png"><action name="Execute"><command><![CDATA[xfe]]></command></action></item>
    <item label="XTerm" icon="/home/nka700/.config/obmenu-generator/icons/84174b2c80bf3542bac9693aa6795463.png"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
  </menu>
  <separator/>
  <menu id="0.268656707152143" icon="/home/nka700/.config/obmenu-generator/icons/a02af8035526b5dd5e45ce5557832559.png" label="Advanced Settings">
    <item label="Conky RC" icon="/home/nka700/.config/obmenu-generator/icons/d486e394b84297e4348d65ae0b0dda73.png"><action name="Execute"><command><![CDATA[geany ~/.conkyrc]]></command></action></item>
    <item label="Tint2 Panel" icon="/home/nka700/.config/obmenu-generator/icons/d486e394b84297e4348d65ae0b0dda73.png"><action name="Execute"><command><![CDATA[geany ~/.config/tint2/tint2rc]]></command></action></item>
  <menu id="0.498894223700951" icon="/home/nka700/.config/obmenu-generator/icons/210c55fc4981978322a9b61ec6301f32.png" label="Obmenu-Generator">
    <item label="Menu Schema" icon="/home/nka700/.config/obmenu-generator/icons/d486e394b84297e4348d65ae0b0dda73.png"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label="Menu Config" icon="/home/nka700/.config/obmenu-generator/icons/d486e394b84297e4348d65ae0b0dda73.png"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/config.pl]]></command></action></item>
  <separator/>
    <item label="Generate a static menu" icon="/home/nka700/.config/obmenu-generator/icons/210c55fc4981978322a9b61ec6301f32.png"><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
    <item label="Generate a static menu with icons" icon="/home/nka700/.config/obmenu-generator/icons/210c55fc4981978322a9b61ec6301f32.png"><action name="Execute"><command><![CDATA[obmenu-generator -s -i -c]]></command></action></item>
  <separator/>
    <item label="Generate a dynamic menu" icon="/home/nka700/.config/obmenu-generator/icons/210c55fc4981978322a9b61ec6301f32.png"><action name="Execute"><command><![CDATA[obmenu-generator -p]]></command></action></item>
    <item label="Generate a dynamic menu with icons" icon="/home/nka700/.config/obmenu-generator/icons/210c55fc4981978322a9b61ec6301f32.png"><action name="Execute"><command><![CDATA[obmenu-generator -p -i]]></command></action></item>
  <separator/>
    <item label="Refresh cache" icon="/home/nka700/.config/obmenu-generator/icons/28256f90e47a1f56e039f9fab3c8ac64.png"><action name="Execute"><command><![CDATA[obmenu-generator -d]]></command></action></item>
  </menu>
  <menu id="0.365784740571133" icon="/home/nka700/.config/obmenu-generator/icons/cbd33e85d4e0834359519a4e282b2aeb.png" label="Openbox">
    <item label="Openbox Autostart" icon="/home/nka700/.config/obmenu-generator/icons/d486e394b84297e4348d65ae0b0dda73.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/autostart]]></command></action></item>
    <item label="Openbox RC" icon="/home/nka700/.config/obmenu-generator/icons/d486e394b84297e4348d65ae0b0dda73.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/rc.xml]]></command></action></item>
    <item label="Openbox Menu" icon="/home/nka700/.config/obmenu-generator/icons/d486e394b84297e4348d65ae0b0dda73.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/menu.xml]]></command></action></item>
    <item label="Reconfigure Openbox" icon="/home/nka700/.config/obmenu-generator/icons/cbd33e85d4e0834359519a4e282b2aeb.png"><action name="Execute"><command><![CDATA[openbox --reconfigure]]></command></action></item>
  </menu>
  </menu>
  <separator/>
    <item label="Lock" icon="/home/nka700/.config/obmenu-generator/icons/c320b960622ac2850b2c13f74920218c.png"><action name="Execute"><command><![CDATA[xscreensaver-command -lock]]></command></action></item>
    <item label="Exit" icon="/home/nka700/.config/obmenu-generator/icons/a7c575a774f89dd9e24d2343918fc9dd.png"><action name="Exit"/></item>
  </menu>
</openbox_menu>
